@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');
@import url('./reset.css');

.button--shape-red {
	background-color: #e91b1b; 
	border: none;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.button--shape-beige {
	background-color: transparent; 
	border: 1px solid rgb(122, 122, 98);
	color: white;
	padding: 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.button--shape-white {
	background-color: #ffffff; 
	border: none;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.font--gothic {
	font-family: 'Nanum Gothic Coding', monospace;
}

.font--jua {
	font-family: 'Jua', monospace;
}

/* 모바일: 0~766px */
.header{
	position: fixed;
	width: 100%;
	background: white;
	z-index: 2;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.header__Mnav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(240, 240, 240);
}

.header__Mnav > .trigger {
	height: 60px;
	background-color: white;
	position: relative;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.mobile {
	border: 0;
	outline: 0;
	background-color: transparent;
}

.mobile.close {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.2rem;
}

.header__Mnav > .Mmenu {
	overflow: auto;
	height: 100%;
}

.header__Mnav > .Mmenu__main {
	padding: 20px 0 0 20px;
	margin-bottom: 100px;
}

.header__Mnav .Mmenu__main > li {
	padding: 20px 0;
	border-bottom: 1px solid rgb(209, 209, 209);
	position: relative;
}

.header__Mnav .Mmenu__main > li > span:nth-of-type(1) {
	font-size: 1.7rem;
	margin-bottom: 10px;
	display: inline-block; 
}

.header__Mnav .Mmenu__main > li > span:nth-of-type(2) {
	position: absolute;
	right: 10px;
}

.header__Mnav .Mmenu__main > li > .Mlist__drop {
	padding-left: 20px;
}

.header__Mnav .Mmenu__main > li:nth-child(1) > .Mlist__drop { display: none; }
.header__Mnav .Mmenu__main > li:nth-child(4) > .Mlist__drop { display: none; }
.header__Mnav .Mmenu__main > li:nth-child(5) > .Mlist__drop { display: none; }

.header__Mnav .Mmenu__main > li > .Mlist__drop > li {
	font-size: 1.5rem;
	padding: 5px;
}



.header__nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding: 0 12px;
}

.header__nav > div, .header__nav > h1{
	width: 33.33%;
}

.header__nav > h1{
	text-align: center;
}

.header__nav > h1 img{
	width: 50px;
}

.header__nav > .menu > .delivery-order {
	text-align: right;
}

.header__nav .menu__main {
	display: none;
}

.header__nav .delivery-order > .button {
	border-radius: 35px;
	font-size: 0.5em;
	padding: 8px;
	font-weight: bold;
}

.footer{
	height:680px;
	background:#474747;
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
	.header__nav {
		height: 120px;
		padding: 0;
	}

	.header__nav > h1 img {
		width: 80px;
	}

	.header__nav > .menu {
		width: calc(100% - 100px);
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 120px;
	}

	.header__nav nav {
		width: calc(100% - 168px);
	}

	.header__nav nav > .menu__main {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-size: 1.3em;
		height: 70px;
		padding: 50px 60px 0;
	}

	.header__panel {
		height: 280px;
		display: none;
	}

	.header__nav > .menu > .delivery-order {
		width: 168px;
		/* unset: 원래 디폴트 값으로 돌아오게 한다 */
		text-align: unset; 
	}

	.header__nav > .menu > .delivery-order > .button {
		border-radius: 35px;
		margin-top: 15px;
		font-size: 1.2em;
	}
	
	.header__nav > .menu .main__list {
		position: relative;
	}


	.header__nav > .menu .main__list .list__drop {
		display: none;
		/* absolute: relative를 기준으로 자기 위치를 잡는다 */
		position: absolute; 
		top: 60px;
		width: 232px;
		height: 260px;
	}


	.header__nav > .menu .main__list .list__drop > li {
		padding: 5px 5px 5px 0;
	}

	.header__nav > .menu .main__list .list__drop > li > a {
		font-size: 0.9rem;
		font-family: 'Nanum Gothic Coding', monospace, sans-serif;
		font-weight: bold;
		color: rgb(26, 26, 26);
	}

	.header__nav > h1 {
		width: 100px;
		height: 120px;
		line-height: 120px;
	}

	.header__nav > h1 .logo {
		vertical-align: middle;
	}

	.header__nav > .trigger {
		display: none;
	}

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 

}
